@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0.3em;
    margin: 0;
    box-sizing: border-box;
}

/* General style */

body {
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    background-color: #f5b700;
}

.hide {
    display: none;
}


.btn {
    display: block;
    width: fit-content;
    font-size: large;
    font-weight: bolder;
    margin: 1em auto;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.btn:hover {
    background-color: #8f8d8d;
    cursor: pointer;
}

/* Home page */
header {
    max-width: 900px;
    margin: 0 auto auto;
}

.logo-img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #404e4d;
}

#home-display {
    max-width: 830px;
    margin: 20px auto auto;
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 1.5;
}

/* Category box */
#category-box {
    max-width: 500px;
    margin: 20px auto auto;
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}

.category-img {
    max-width: 50%;
}

/* Quiz box */

#quiz-box {
    max-width: 830px;
    margin: 20px auto;
    padding: 1em;
    text-align: center;
    line-height: 1.5;
    border: 4px solid;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    right: 15px;
}

.quit-btn {
    width: 100%;
    text-align: right;
    font-size: 2rem;
    padding: 0;
}

.quit-btn:hover {
    color: #c3423f;
}

#quiz-num {
    font-weight: bolder;
}

#option-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.option-btn {
    border-radius: 5px;
    width: 50%;
    font-size: 1.2rem;
}

.option-btn:hover,
.option-btn:focus {
    background-color: #5bc0eb;
    cursor: pointer;
}

/* Quit Confirmation box */

.quit-confirmation {
    max-width: 400px;
    margin: 20px auto auto;
    padding: 1em;
    background-color: #5bc0eb;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #404e4d;
    text-align: center;
    position: relative;
    z-index: 1;
}

.confirm-img {
    max-width: 50%;
}

.confirm-buttons {
    display: flex;
}

/* Alert box */

#alert-box {
    max-width: 400px;
    max-height: 400px;
    margin: 20px auto auto;
    text-align: center;
    background-color: #5bc0eb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #404e4d;
    position: relative;
    z-index: 1;
}

#overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(0,0,0,0.5);
}

#alert-box img[hide] {
    display: none;
}

#alert-box img {
    width: 50%;
}

/* Result box */
#result-box {
    background-color: #c3423f;
    max-width: 530px;
    max-height: 530px;
    margin: 20px auto auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 5px 5px #404e4d;
}

#total-score {
    border: 1px solid;
    border-radius: 5px;
    background-color: #404e4d;
    color: white;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    font-size: 3rem;
    padding: 10px;
}

.result-btn {
    display: flex;
    padding: 1em;
}
