@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* General style */

body {
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    background-color: #f5b700;
}

.hide {
    display: none;
}

.btn {
    width: 100px;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #8f8d8d;
}

/* Home page */
header {
    display: flex;
    justify-content: center;
}

.header-img {
    width: 100%;
    border-radius: 5px;
}

#home-display {
    max-width: 830px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

/* Quiz box */

#quiz-box {
    max-width: 830px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

#option-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.option-btn {
    border-radius: 5px;
    width: 50%;
    font-size: 1.2rem;
}

.option-btn:hover,
.option-btn:focus {
    background-color: #8f8d8d;
}

.submit-btn {
    margin-top: 10px;
}



@media screen and (min-width: 768px) {
    .header-img {
        width: 80%;
    }
    
}

@media screen and (min-width: 992px) {
    .header-img {
        width: 50%;
    } 
}